.sign-up{
    min-width: 30vw;
    width: auto;
    display: flex;
    flex-direction: column;

    .title{
        margin:10px 0;
    }

    .errors{

        p{
            color: red;
        }
    }

}